.main-container{
    display: flex;
}

.left-container{
    width: 49%;
}

.right-container {
    width: 49%;
}

.request-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.film-title {
    font-size: 20px;
    font-weight: bold;
}

.characters-list {
    font-weight: bold;
}
