.form{
    position: relative;
    margin:50px calc(50% - 550px);
}

.btn {
   position: absolute;
    top: 10px;
    right: 10px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    background-color: darkgray;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input-form {
    background-color: darkgray;
    width: 1100px;
    height: 40px;
    background-color: darkgray;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 4px 0;
    text-indent: 65px;
}

.get {
   position: absolute;
    top: 0px;
    left: 0px;
    background-color: cornflowerblue;
    color: darkgray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 14px 14px;
}

.info {
    margin:50px calc(50% - 550px);
    width: 1100px;
    border-radius: 5px;
}

.mr {
    margin-left: 20px;
}

.mr-t {
    margin-left: 30px;
}

.title {
    background-color: darkgray;
    padding: 15px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.hidden {
    display: none;
}