@font-face {
    font-family: 'arimobold';
    src: url('Arimo-Bold-webfont.eot');
    src: url('Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arimo-Bold-webfont.woff2') format('woff2'),
         url('Arimo-Bold-webfont.woff') format('woff'),
         url('Arimo-Bold-webfont.ttf') format('truetype'),
         url('Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

