
@font-face {
    font-family: 'Arimo';
    src: url(arimo_regular_macroman/Arimo-Regular-webfont.eot);
    src: url(arimo_regular_macroman/Arimo-Regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(arimo_regular_macroman/Arimo-Regular-webfont.woff) format('woff'),
    url(arimo_regular_macroman/Arimo-Regular-webfont.ttf) format('truetype'),
    url(arimo_regular_macroman/Arimo-Regular-webfont.svg#arimoregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url(arimo_bold_macroman/Arimo-Bold-webfont.eot);
    src: url(arimo_bold_macroman/Arimo-Bold-webfont.eot?#iefix) format('embedded-opentype'),
    url(arimo_bold_macroman/Arimo-Bold-webfont.woff) format('woff'),
    url(arimo_bold_macroman/Arimo-Bold-webfont.ttf) format('truetype'),
    url(arimo_bold_macroman/Arimo-Bold-webfont.svg#arimobold) format('svg');
    font-weight: bold;
    font-style: normal;
}

.container {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.pricing-table {
    width: 1170px;
    border: 22px solid #3a4965;
    margin: calc((100vh - 738px)/2) auto;
}

.table-data {
    border-right: 2px solid #dddddd;
}

/*TABLE-HEAD*/

.table-head {
    font-weight: bold;
}

.table-title {
    width: 24%;
    color: white;
}

.table-title:first-child {
    width: 27%;
}

.table-title:first-child {
    border-right: 2px solid #dddddd;
}

.pricing-plan-menu {
   vertical-align: middle;
    color: #484848;
}

.upper-text {
    font-size: 18px;
}

.lower-text {
    font-size: 30px;
    margin-top: 10px;
}

.pricing-plan-standard {
    font-size: 24px;
    padding: 19px 0 17px 0;
}

.pricing-plan-ultimate {
    font-size: 30px;
}

.pricing-plan-premium {
    font-size: 24px;
}

.cost {
    color: #484848;
    font-size: 60px;
    padding: 13px 0;
    position: relative;
}

.cost::before {
    content: "$";
    font-size: 60px;
}

.cost::after {
    content: ".99";
    font-size: 24px;
    vertical-align: top;
    position: absolute;
    top: 23px;
    right: 110px;
}

.cost-per-month {}

.cost-per-month::after {
    content: "per month";
    font-size: 18px;
    font-weight: normal;
}

/*TABLE-BODY*/

.table-body>.table-row:nth-of-type(even) {
    background-color: #e3e3e3;
}

.table-body>.table-row:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.storage-capacity {
    padding: 27px 0;
}

.for-size {
    padding: 27px 0;
}

.email-quantity {
    padding: 27px 0;
}

.product-quantity {
    padding: 27px 0;
}

.user-quantity {
    padding: 27px 0;
}

.icon {
    margin-right: 12px;
    color: #848484;
}

/*TABLE-FOOT*/

.table-foot a {
    text-decoration: none;
    color: white;
}

.for-size-footer {
    padding: 45px 0;
}

.button-contact {
    padding: 15px 45px 8px;
    border-radius: 5px;
    border-bottom: 7px solid #404040;
    transition: background-color 500ms ease;
}

.button-contact:hover {
    background-color: #404040;
}

.button-standard {
    padding: 15px 58px 8px;
    border-radius: 5px;
    border-bottom: 7px solid #79b027;
    transition: background-color 500ms ease;
}

.button-standard:hover {
    background-color: #79b027;
}

.button-ultimate {
    padding: 15px 58px 8px;
    border-radius: 5px;
    border-bottom: 7px solid #df3a46;
    transition: background-color 500ms ease;
}

.button-ultimate:hover {
    background-color: #df3a46;
}

.button-premium {
    padding: 15px 58px 8px;
    border-radius: 5px;
    border-bottom: 7px solid #16736f;
    transition: background-color 500ms ease;
}

.button-premium:hover {
    background-color: #16736f;
}

.table-foot .table-data:nth-of-type(odd) {
    background-color: #f4f4f4;
}

.table-foot .table-data:first-of-type {
    background-color: #dddddd;
}

.table-foot .table-data:nth-of-type(even) {
    background-color: #eeeeee;
}

/*FOR-ALL-OTHER*/

.green-bg {
    background-color: #89c331;
}

.red-bg {
    background-color: #f04a56;
}

.green-blue-bg {
    background-color: #20807c;
}

.black-bg {
    background-color: #484848;
}